<!DOCTYPE html>
{% load static %}
<html>
<head>
   <title>Play Premium AAA MetaVerse games on any device- No Downloads</title>
   <meta charset="utf-8">
   <meta name="description" content="At Wndr.com, you can get lots of online games such as NFT, Crypto, Multiplayer, and amazing PC games as well. This is the best browser to get free online games.">
   
   <meta name="Keywords" content="Best Browser Metaverse,NFT Games,Crypto games,Web 3,Online games,Desktop Games,PC Games,Free games,Free online games,Multi Player,Multiplayer Games,Blockchain games,crypto games,blockchain games">
   <link rel="canonical" href="https://wndr.com" />
   <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
   <meta name="google-site-verification" content="QH1Am3UNtUywGs9Ut9SFYPdWcoTumzm_IdXB0aDVzD4" />
   <meta property="og:title" content="Play Web3 AAA Multiplayer games on Mobile PC and Smart TV’s with any browser and on any device With no downloads."/>
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://wndr.com" />
   <meta property="og:image:url" content="https://wndr.com/static/static/image/share_link_img.jpeg" />
   <meta property="og:description" content="At Wndr.com, you can get lots of online games such as NFT, Crypto, Multiplayer, and amazing PC games as well. This is the best browser to get free online games." />
   <meta property="og:image" content="https://wndr.com/static/static/image/share_link_img.jpeg" />
   <!-- slick css -->
   <link rel="stylesheet" href="{% static 'css/slick.css' %}">
   <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
   <!-- bootstrap-css start -->
   <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <!-- link css -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
   <!-- font awsome -->
   <script src="https://use.fontawesome.com/b197abb434.js"></script>
   <script src="https://kit.fontawesome.com/1086841b1d.js" crossorigin="anonymous"></script> 
   <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10997461539"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); 

    gtag('config', 'AW-10997461539');
    </script>
   <!-- fav icon -->
   <link rel="icon" type="image/x-icon" href="{% static 'image/fab-ic.png' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  
   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PR4XX4G');</script>
    <!-- End Google Tag Manager -->
    
</head>
<body>

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PR4XX4G"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- oncontextmenu="return false" -->
   <!-- banner -->
   <div class="mobilelandscapeview" style="position:relative;">
       <div class="landscape_view1">
           <p>Back to Viewing Mode</p>
           <img class="back_to_mode" alt="Viewing_mode" src="{% static 'image/phone_rotate_black.png' %}">
       </div>
   </div>
   <div class="mobileportraitview">
       <div class="banner-WNDR">
           <div class="home_page_banner">
           </div>
           <div class="banner_video_section">
               <video class="banner_desktop_video movie-area" id="video2" width="100%" height="100%" preload='auto'
                   poster="{% static 'image/WOW_PC-min.png' %}" autoplay muted loop playsinline onclick="return false">
                   <source id="vid2_source"
                       src="{% if video_obj %}{{video_obj.desktop_top_video}}{%else%}https://wndr.nyc3.digitaloceanspaces.com/PC_version_10mbps.mp4 {%endif%}"
                       type="video/mp4">
               </video>
               <video class="banner_mobile_video movie-area" id="video21" width="100%" height="100%" preload='auto'
                   poster="{% static 'image/WOW_Mobile-min.png' %}" autoplay muted loop playsinline onclick="return false">
                   <source id="vid21_source"
                       src="{% if video_obj %}{{video_obj.mobile_top_video}}{%else%}https://wndr.nyc3.digitaloceanspaces.com/Mobile_10mbps.mp4{%endif%}"
                       type="video/mp4">
               </video>
               <div class="video-content">
                   <i class="fa fa-volume-off" id="audio-control" aria-hidden="true"></i>
                   <div class="circle" style="animation-delay: 0s"></div>
                   <div class="circle" style="animation-delay: 1s"></div>
                   <div class="circle" style="animation-delay: 2s"></div>
                   <div class="circle" style="animation-delay: 3s"></div>
               </div>
               <div class="video-content_tablate">
                   <i class="fa fa-volume-off" id="audio-ipad-control" aria-hidden="true"></i>
                   <div class="circle" style="animation-delay: 0s"></div>
                   <div class="circle" style="animation-delay: 1s"></div>
                   <div class="circle" style="animation-delay: 2s"></div>
                   <div class="circle" style="animation-delay: 3s"></div>
               </div>
               <div class="video-content_mobile">
                   <i class="fa fa-volume-off" id="audio-mobile-control" aria-hidden="true"></i>
                   <div class="circle" style="animation-delay: 0s"></div>
                   <div class="circle" style="animation-delay: 1s"></div>
                   <div class="circle" style="animation-delay: 2s"></div>
                   <div class="circle" style="animation-delay: 3s"></div>
               </div>
           </div>
           <!-- header start here -->
           <header class="header-tag-WNDR">
               <div class="header_WNDR">
                   <div class="header-line header-line-shadow1">
                       <img src="{% static 'image/header-line-top.png' %}" class="header-line-pc" alt="header_topLine_pc">
                       <img src="{% static 'image/header-line-top-tabs.png' %}" class="header-line-tabs"
                           alt="header_topLine_tabs">
                       <img src="{% static 'image/header-line-top-mobile.png' %}" class="header-line-mobile"
                           alt="header_topLine_mobile">
                   </div>
                   <div class="container">
                       <nav class="navbar navbar-expand-lg navbar-light">
                           <a class="navbar-brand" href="{% url 'home' %}"><img
                                   src="{% static 'image/header-logo.png' %}" alt="WNDR.com"></a>
                           <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                               data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                               aria-label="Toggle navigation">
                               <svg xmlns="http://www.w3.org/2000/svg" class="bi" fill="currentColor"
                                   viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                       d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                                   </path>
                               </svg>
                           </button>
                           <div class="navbar-collapse collapse" id="bdNavbar" style="">
                               <ul class="navbar-nav m-auto mt-lg-0">
                                   <li class="nav-item active">
                                       <a class="nav-link" href="{% url 'home' %}">HOME</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="{% url 'vision' %}">OUR VISION</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="{% url 'teams' %}">TEAM</a>
                                   </li>
                                   <li class="nav-item">
                                       <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                                   </li>
                           
                            
 
 
                                   <div class="btn-header-subscribe">
                                       <a href="#" class="" data-bs-toggle="modal"
                                           data-bs-target="#exampleModal">SUBSCRIBE </a>
                                   </div>
                               </ul>
                           </div>
                       </nav>
                   </div>
                   <div class="header-line header-line-shadow">
                       <img src="{% static 'image/header-line-down.png' %}" class="header-line-down-pc"
                           alt="header-line-center">
                       <img src="{% static 'image/header-line-down-tabs.png' %}" class="header-line-down-tabs"
                           alt="header-line-center1">
                       <img src="{% static 'image/header-line-down-mobile.png' %}" class="header-line-down-mobile"
                           alt="header-line-center2">
                   </div>
               </div>
           </header>
           {% block content %}
           {% endblock %}
           <!-- footer start here -->
           <footer>
               <div class="footer_WNDR remove_saveimage">
                   <div class="footer-overlap">
                       <img src="{% static 'image/footer-line-top.png' %}" class="top-line" alt="footer1">
                       <img src="{% static 'image/footer-line-top-mobile.png' %}" class="top-line-m0bile"
                           alt="footer2">
                       <img src="{% static 'image/footer-line-down.png' %}" class="bottom-line" alt="footer3">
                       <img src="{% static 'image/footer-line-down-mobile.png' %}" class="bottom-line-mobile"
                           alt="footer4">
                   </div>
                   <div class="footer-shapes">
                       <img src="{% static 'image/footer-img.png' %}" class="footer-left-ic" alt="footerLeft_img">
                       <img src="{% static 'image/footer-img2.png' %}" class="footer-right-ic" alt="footerRight_img">
                   </div>
                   <div class="container">
                       <div class="footer-outer">
                           <div class="row footer-align">
                               <div class="col-md-3 col-lg-3 mbl-footer-img">
                                   <div class="footer-logo">
                                       <img src="{% static 'image/header-logo.png' %}" alt="WNDR.com">
                                   </div>
                               </div>
                               <div class="col-md-7 col-lg-7 copyright-footer">
                                <div class="middle-sec-footer uk-scrollspy-inview"
                                    uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
                                    <div class="footerManu_middle">
                        <ul class="middle_unorderList">
        
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about">About </a></li>
                                            <li><a href="/vision">Our Vision</a></li>
                                            <li><a href="/teams">Team</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            <li><a href="/terms">Terms & Conditions </a></li>
                                                <li><a href="/privacy">Privacy & Policy</a></li>
                                         </ul>
                                         </div>
                                        
                                     <div class="footerManu_paragraph">
                                    <p>WNDR, ALL RIGHTS RESERVED @ 2022</p>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-2 col-lg-2 mbl-footer-social">
                                   <div class="right-sec-footer-social">
                                       <ul>
                                          
                                           <li class="uk-scrollspy-inview"
                                               uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
                                               <a href="https://twitter.com/WNDRVERSE"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                           </li>
                                        
                                           <li class="uk-scrollspy-inview"
                                           uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
                                           <a href="https://www.youtube.com/channel/UCyccm9qtkFnj0-yGnE5fI5A"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                       </li>
                                       <li class="uk-scrollspy-inview"
                                           uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
                                           <a href="https://www.tiktok.com/@wndrverse?_t=8WJxBZA7IJ4&_r=1"><i class="fa fa-tiktok" aria-hidden="true"></i></a>
                                       </li>
                                   
                                   
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </footer>
           <!-- footer close here--> 
           <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
           <!-- jquery -->
            <script src="{% static 'js/jquery.js' %}"></script>
           <!-- jquery -->
           <!-- slick js -->
           <script src="{% static 'js/slick.js' %}"></script>
           <script src="{% static 'js/slick.min.js' %}"></script>
           <script>
            var $jq = jQuery.noConflict();
            $jq(document).ready(function(){
                $jq('.gallery-slider-outer').slick({
                    dots: true,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 1023,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });
 
            }) 
        
             
           </script>
           <!-- bootstrap js -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
       
                     

           <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
               integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
               crossorigin="anonymous"></script>
           <!-- bootstrap js -->
           <script type="text/javascript"></script>
           <script>
           </script>
           <script>
               try {
                   if ($(window).width() < 768) {
                       console.log("less")
                       obj = document.getElementById("myVideo")
                       obj.remove()
                       on_chl = document.getElementById("fullscreenhide_in_mobile")
                       on_chl.hidden = true
                   }
               }
               catch { }
               try {
                   if ($(window).width() > 768) {
					
                       obj = document.getElementById("myVideo2")
                       obj.remove()
                   }
               }
               catch { }
 
               try {
                   $('#myVideo').parent().find("#play_button").css("display", "block");
                   $('#myVideo').parent().find(".playpause").css("display", "block");
               }
               catch { console.log("catch") }
               console.log($("#myVideo").length)
               if ($("#myVideo").length == 1) {
                   $('#myVideo').parent().click(function () {
                       if ($(this).children("#myVideo").get(0).paused) {
 
                           $(this).children("#myVideo").get(0).play();
                           $(".gamePlayer-outer").css('height', '87%');
 
                           $(this).find("#play_button").css("display", "none");
                           //$("#myVideo2").get(0).play();
                           $(this).find(".playpause").css("display", "none");
                       }
                       else {
                           console.log('absoe');
                           $(this).children("#myVideo").get(0).pause();
                           $(".gamePlayer-outer").css('height', '100%');
                           $(this).find("#play_button").css("display", "block");
                           $(this).find(".playpause").css("display", "block");
                           var a = $(".playpause > :nth-child(2n)").children().next()
                           a.attr('src', 'static/image/game-player.jpeg')
                       }
                   });
               }
               $('#myVideo2').parent().find("#play_button").css("display", "block");
               $('#myVideo2').parent().find(".playpause").css("display", "block");
               console.log($("#myVideo2").length, "here new")
               if ($("#myVideo2").length == 1) {
                   $('#myVideo2').parent().click(function () {
                       if ($(this).children("#myVideo2").get(0).paused) {
                           $(this).children("#myVideo2").get(0).play();
                           $(".gamePlayer-outer").css('height', '87%');
                           $(this).find("#play_button").css("display", "none");
                           $(this).find(".playpause").css("display", "none");
                       }
                       else {
                           console.log('absolute');
                           $(this).children("#myVideo2").get(0).pause();
                           $(".gamePlayer-outer").css('height', '100%');
                           $(this).find("#play_button").css("display", "block");
                           $(this).find(".playpause").css("display", "block");
                           var b = $(".playpause > :nth-child(3n)").children().next()
                           b.attr('src', 'static/image/game-player_mbl.png')
                       }
                   });
               }
               /*-----End vision poster image----*/
              
              
               var testEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;  
               $("#load-image-of-modal-subscibe1").hide()
               function myFunction1() {
                   email = $('#myInput1').val();
                   console.log("Arrivals-----0")
                   console.log(email)
                   if(email.length == 0){
                    document.getElementById("error_div1").hidden = false;
                    document.getElementById("error1").innerHTML = "Please Enter Email"
                    {% comment %} $("#error_div1").show().delay(3000).fadeOut();         {% endcomment %}
                    $("#error_div1").show();
                    setTimeout( "$('#error_div1').hide();", 4000);

                 }
                   else if (testEmail.test(email)) {
                       $("#load-image-of-modal-subscibe1").show()
                       console.log("abc")
                       $jq.ajax({
                            url:"{% url 'home' %}",
                           type: "POST",
                           data: {
                               "email": email,
                               'csrfmiddlewaretoken': '{{csrf_token}}'
                           },
                           success: function (data) {
                               $("#load-image-of-modal-subscibe1").hide()
                               if (data.is_taken == true) {
                                console.log("email already taken");
                                document.getElementById("invalid_div1").hidden = false;
                                document.getElementById("invalid1").innerHTML = "Email Already Exists";
                                $("#invalid_div1").show();
                                setTimeout( "$('#invalid_div1').hide();", 4000);
                                {% comment %} $("#invalid_div1").show().delay(3000).fadeOut(); {% endcomment %}
                                
                              }
                              else{
                                document.getElementById("sucess_div1").hidden = false;
                                document.getElementById("sucess1").innerHTML = "Thank you for subscribing"
                                $('#myInput1').val('');
                                $("#sucess_div1").show();
                                setTimeout( "$('#sucess_div1').hide();", 4000);
                                $("#btn-d1").attr("disabled", false);
                                
                                function gtag_report_conversion(url) {
                                    console.log('after gtag conversion');
                                    var callback = function () {
                                      if (typeof(url) != 'undefined') {
                                        console.log('inside error');
                                        window.location = url;
                                        
                                      }
                                    };
                                    gtag('event', 'conversion', {
                                        'send_to': 'AW-10997461539/L2prCLTdkeMDEKPk__so',
                                        'event_callback': callback
                                    });
                                    return false;
                                  }
                                  gtag_report_conversion();
                                console.log('after script conversion');
                             
                              }
                              
                           },
                       });
                   }
                    else {
                      document.getElementById("error_div1").hidden = false;
                      document.getElementById("error1").innerHTML = "Invalid Email"
                      $("#error_div1").show();
                      setTimeout( "$('#error_div1').hide();", 4000);
  
                    
                  };
               };
                var testEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;  
               $("#load-image").hide()
               function myFunction2() {
                   email = $('#myInput2').val();
                   console.log("Arrivals-----1")
                   console.log(email)
                   if (email.length == 0){
                    
                    document.getElementById("error_div2").hidden = false;
                    document.getElementById("error2").innerHTML = "Please Enter Email";
                    $("#error_div2").show();
                    {% comment %} setTimeout( function(){$('error_div2').hide();} , 4000); {% endcomment %}
                    setTimeout( "$('#error_div2').hide();", 4000);
                   }
                   else if (testEmail.test(email)) {
                       $("#load-image").show();
                      
                       console.log("----");
                       $jq.ajax({
                           type: "POST",
                           data: {
                               "email": email,
                               'csrfmiddlewaretoken': '{{csrf_token}}'
                           },
                           success: function (data) {
                            console.log(data);
                               $("#load-image").hide()
                               if (data.is_taken == true) {
                                console.log("email already taken");
                                document.getElementById("invalid_div2").hidden = false;
                                document.getElementById("invalid2").innerHTML = "Email Already Exists"
                                $("#invalid_div2").show()
                                {% comment %} setTimeout( function(){$('invalid_div2').hide();} , 4000); {% endcomment %}
                                setTimeout( "$('#invalid_div2').hide();", 4000);
                                
                              }
                              else{
                                document.getElementById("sucess_div2").hidden = false;
                                document.getElementById("sucess2").innerHTML = "Thank you for subscribing"
                                $('#myInput2').val('');
                                $("#sucess_div2").show();
                                setTimeout( "$('#sucess_div2').hide();", 4000);
                                $("#btn-d2").attr("disabled", false);
                                function gtag_report_conversion(url) {
                                    console.log('after gtag conversion');
                                    var callback = function () {
                                      if (typeof(url) != 'undefined') {
                                        console.log('inside error');
                                        window.location = url;
                                        
                                      }
                                    };
                                    gtag('event', 'conversion', {
                                        'send_to': 'AW-10997461539/L2prCLTdkeMDEKPk__so',
                                        'event_callback': callback
                                    });
                                    return false;
                                  }
                                  gtag_report_conversion();
                                console.log('after script conversion');
                              
                              }
                              
                           },
                       });
                   }else {
                    document.getElementById("error_div2").hidden = false;
                    document.getElementById("error2").innerHTML = "Invalid Email"
                    $("#error_div2").show();
                    setTimeout( "$('#error_div2').hide();", 4000);
                    
                    {% comment %} setTimeout( function(){$('error_div2').hide();} , 4000); {% endcomment %}
                   
                }
               }
               $("#load-image-of-arrival2").hide()
               function myFunction3() {
                   email = $('#myInput3').val();
                   console.log("Arrivals-----2")
                   console.log(email)
                   if (email.length == 0){                
                  document.getElementById("error_div3").hidden = false;
                  document.getElementById("error3").innerHTML = "Please Enter Email"
                  {% comment %} $("#error_div3").show().delay(3000).fadeOut();    {% endcomment %}
                  $("#error_div3").show()
                  setTimeout( "$('#error_div3').hide();", 4000);
                
                 }
                   else if (testEmail.test(email)) {
                       $("#load-image-of-arrival2").show()
                      
                       console.log("abc")
                       $jq.ajax({
                           type: "POST",
                           data: {
                               "email": email,
                               'csrfmiddlewaretoken': '{{csrf_token}}'
                           },
                           success: function (data) {
                               $("#load-image-of-arrival2").hide()
                               if (data.is_taken == true) {
                                console.log("email already taken","00---00");
                                document.getElementById("invalid_div3").hidden = false;
                                document.getElementById("invalid3").innerHTML = "Email Already Exists"
                                
                                $("#invalid_div3").show();
                                setTimeout( "$('#invalid_div3').hide();", 4000);
                               
                              }
                              else{
                                document.getElementById("sucess_div3").hidden = false;
                                document.getElementById("sucess3").innerHTML = "Thank you for subscribing"
                                $('#myInput3').val('');
                                $("#sucess_div3").show();
                                setTimeout( "$('#sucess_div3').hide();", 4000);
                                $("#btn-d3").attr("disabled", false);
                                
                        
                              }
                              
                           },
                       });
                   }
                   else {
                      document.getElementById("error_div3").hidden = false;
                      document.getElementById("error3").innerHTML = "Invalid Email"
                      $("#error_div3").show();
                      setTimeout( "$('#error_div3').hide();", 4000);
                     
                  }
               }
               var mybutton = document.getElementById("myBtntop");
               window.onscroll = function () { scrollFunction() };
               function scrollFunction() {
                   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                       mybutton.style.display = "block";
                   } else {
                       mybutton.style.display = "none";
                   }
               }
               function topFunction() {
                   document.body.scrollTop = 0;
                   document.documentElement.scrollTop = 0;
               }
           </script>
           <script>
               $(document).ready(function () {
                   $('#audio-control').click(function () {
                       if ($("#video2").prop('muted')) {
                           $("#video2").prop('muted', false);
                           $(this).removeClass("fa fa-volume-off ").addClass("fa fa-volume-up");
                       } else {
                           $("#video2").prop('muted', true);
                           $(this).removeClass("fa fa-volume-up ").addClass("fa fa-volume-off");
                       }
                   });
                   $('#audio-mobile-control').click(function () {
                       if ($("#video21").prop('muted')) {
                           $("#video21").prop('muted', false);
                           $(this).removeClass("fa fa-volume-off ").addClass("fa fa-volume-up");
                       } else {
                           $("#video21").prop('muted', true);
                           $(this).removeClass("fa fa-volume-up ").addClass("fa fa-volume-off");
                       }
                   });
               })
           </script>
           <script>
               $(document).ready(function () {
                   $('#audio-home-control').click(function () {
                       if ($("#myVideo").prop('muted')) {
                           $("#myVideo").prop('muted', false);
                           $(this).removeClass("fa fa-volume-off ").addClass("fa fa-volume-up");
                       } else {
                           $("#myVideo").prop('muted', true);
                           $(this).children("i").attr("class", "fa fa-volume-up ");
                           $(this).removeClass("fa fa-volume-up ").addClass("fa fa-volume-off");
                       }
                   });
                   $('#audio-home-control').click(function () {
                       if ($("#myVideo2").prop('muted')) {
                           $("#myVideo2").prop('muted', false);
                           $(this).removeClass("fa fa-volume-off ").addClass("fa fa-volume-up");
                       } else {
                           $("#myVideo2").prop('muted', true);
                           $(this).children("i").attr("class", "fa fa-volume-up ");
                       }
                   });
               })
               $(window).scroll(function () {
                   var scroll = $(window).scrollTop();
                   var get_video_section_height = $(".banner_desktop_video").height() - 116
                   if (scroll > get_video_section_height) {
                       $(".video-content").children("i").attr("class", "fa fa-volume-off ");
                       $('#video2').get(0).pause()
                       $("#video2").prop("muted", true);
                   }
                   else {
                       $('#video2').get(0).play();
                   }
               })
            </script>
           </script>
   
           <script>
               $(window).scroll(function () {
                   var scroll = $(window).scrollTop();
                   var get_video_section_height = $(".banner_mobile_video").height() - 116
                   if (scroll > get_video_section_height) {
                       $(".video-content_mobile").children("i").attr("class", "fa fa-volume-off ");
                       $('#video21').get(0).pause()
                       $("#video21").removeClass("fa fa-volume-off").addClass("fa fa-volume-up")
                       $("#video21").prop("muted", false);
                   }
                   else {
                       $("#video21").prop("muted", true)
                       $('#video21').get(0).play();
                   }
               })
           </script>
           <script>
               function openFulldesktop() {
                   var video = document.getElementById('myVideo');
                   video.webkitRequestFullscreen();
                   $("#myVideo").attr('disablePictureInPicture', 'true');
               }
           </script>
           <script>
               function openFullscreen() {
                   try {
                       var video = document.getElementById('myVideo2');
                       console.log("VIDEO", video)
                       video.webkitRequestFullscreen();
                       $("#myVideo2").attr('disablePictureInPicture', 'true');
                   }
                   catch { }
               }
           </script>
           <script>
               $(".fullscr").click(function () {
                   var video = $(".fullscr").get(0);
                   if (video.paused) {
                       video.play();
                   } else {
                       video.pause();
 
                   }
               })
           </script>
           <script>
               $(".fullscr-mobile").click(function () {
                   var video = $(".fullscr-mobile").get(0);
                   if (video.paused) {
                       video.play();
                   } else {
                       video.pause();
                   }
               })
           </script>
           <script>
               $(document).ready(function () {
                   if ($(window).width() < 767) {
                       var video = document.getElementById('video2');
                       var source = document.getElementById('vid2_source');
                       source.setAttribute('src', '');
                       function isInView(el) {
                    var rect = el.getBoundingClientRect();
                    return !(rect.top > $(window).height() || rect.bottom < 0);
                }
                $(document).on("scroll", function () {
                    $("#myVideo2").each(function () {
                        if (isInView($(this)[0])) {                    // visible?
                            if ($(this)[0].paused) $(this)[0].pause();
                         
                        }
                        else {
                            if (!$(this)[0].paused) $(this)[0].pause();  // pause if not paused
                            $("#play_button").css("display", "block");
                            $(".playpause").css("display", "block");
                            $(".playpause p").css("display", "block");
                            $(".gamePlayer-outer").css('height', '100%');
                        }
                    });
                    });
                   }
                   if ($(window).width() > 768) {
                       var video = document.getElementById("video21");
                       var source = document.getElementById('vid21_source');
                       source.setAttribute('src', '');

                       function isInView(el) {
                    var rect = el.getBoundingClientRect();
                    return !(rect.top > $(window).height() || rect.bottom < 0);
                }

                $(document).on("scroll", function () {
                    $("#myVideo").each(function () {
                        if (isInView($(this)[0])) {
                            if ($(this)[0].paused) $(this)[0].pause();
                           
                        }
                        else {
                            if (!$(this)[0].paused) $(this)[0].pause();
                            $("#play_button").css("display", "block");
                            $(".playpause").css("display", "block");
                            $(".playpause p").css("display", "block");
                            $(".gamePlayer-outer").css('height', '100%');
                        }
                    });
                });
                   }
               })
           </script>
           <script>
               document.addEventListener('fullscreenchange', exitHandler);
               document.addEventListener('webkitfullscreenchange', exitHandler);
               document.addEventListener('mozfullscreenchange', exitHandler);
               document.addEventListener('MSFullscreenChange', exitHandler);
 
               function exitHandler() {
                   console.log("++++++++")
                   if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                       $("#myVideo").get(0).play();
                       var a = $(".playpause > :nth-child(2n)").children().next()
                       a.attr('src', '')
                       $(this).find(".playpause").css("display", "none");
                   }
               }
           </script>
           <script>
               document.addEventListener('fullscreenchange', exitHandler);
               document.addEventListener('webkitfullscreenchange', exitHandler);
               document.addEventListener('mozfullscreenchange', exitHandler);
               document.addEventListener('MSFullscreenChange', exitHandler);
               function exitHandler() {
                   console.log("++++++++")
                   if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
                       $("#myVideo2").get(0).play();
                       var a = $(".playpause > :nth-child(3n)").children().next()
                       a.attr('src', '')
                       $(this).find(".playpause").css("display", "none");
                   }
               }
           </script>
           <script>
               $('#audio-ipad-control').click(function () {
                   if ($("#video2").prop('muted')) {
                       $("#video2").prop('muted', false);
                       $(this).removeClass("fa fa-volume-off ").addClass("fa fa-volume-up");
                   } else {
                       $("#video2").prop('muted', true);
                       $(this).removeClass("fa fa-volume-up ").addClass("fa fa-volume-off");
                   }
               });
           </script>
<script>
   var onresize = function() {
       width = document.body.clientWidth;
       height = document.body.clientHeight;
    }
    window.addEventListener("resize", onresize);
    </script>
<script type="text/javascript">
document.onselectstart=function(){
if (event.srcElement.type != "text" && event.srcElement.type != "textarea" && event.srcElement.type != "password") {
return false;
}
else {
return true;
}
};
if (window.sidebar) {
document.onmousedown=function(e){
var obj=e.target;
if (obj.tagName.toUpperCase() == "INPUT" || obj.tagName.toUpperCase() == "TEXTAREA" || obj.tagName.toUpperCase() == "PASSWORD") {
return true;
}
else {
return false;
}
};
}
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        $('img').bind("contextmenu",function(e) {
           return false;
        });
    }); 
</script>
<script>
    $('.remove_saveimage').bind("contextmenu",function(e){
        return false;
    })
</script>
<script>
    $('.no-dwonload_section' ).css('background-image',function(){
            $(this).contextmenu(function(){
                return false;  
            })
        })
</script>
    <script>
    $('.about-WNDR').css('background-image',function(){
    $(this).contextmenu(function(){
     return false;             
     })
    })
  </script>
<script>
    $('.WNDRLAND-WNDR').css('background-image',function(){

    $('.WNDRLAND-WNDR').contextmenu(function(){
     return false;             
     })
    })
  </script>
  <script>
    $('#newsletter-outer').css('background-image',function(){
    $('#newsletter-outer').contextmenu(function(){
    return false;             
    })
    })
  </script> 



{% comment %} <script>
    $(window).bind("load", function() {  
          var load_video= $("#cstm-video").attr('src')
          $('.movie-area').load(load_video);
          console.log("-----")

      });
 
</script>  {% endcomment %}
 {% comment %} <script>
    $(window).bind("load", function() {  
          var load_video= $("#cstm-video1").attr('src')
          $('.movie-area').load(load_video);
          console.log("-----")

      })
 
</script>  {% endcomment %}
<script>
    $(function(){
        $("img").each(function () {
                var img = $(this);
                img.attr("preload", 'none');
                console.log("-----")
        });
        });
</script>
<script>
    $(document).ready(function(){
      $(document).mouseleave(function(){
          $("#exampleModal").modal("show");
    });
  });
  </script>

 </div>
   </div>
</body>
</html>