<!DOCTYPE html>
{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WNDR.com</title>

	<!-- slick css -->
	<link rel="stylesheet" href="{% static 'css/slick.css' %}">
	<!--<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
	

	
	<!-- bootstrap-css start -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

	<!-- font awsome -->
	<script src="https://use.fontawesome.com/b197abb434.js"></script>

	<script src="https://kit.fontawesome.com/1086841b1d.js" crossorigin="anonymous"></script>

	<!-- fav icon -->
	<link rel="icon" type="image/x-icon" href="{% static 'image/fab-ic.png' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

</head>

<body>
    <div class="gamePlayer">	
    <h1>djhd</h1>
    <video id="myVideo2" class="video_mbl_home" width="100%" height="100%" preload='auto' poster="{% static 'image/game-player_mbl.png' %}" controlslist="nodownload noplaybackrate" style="object-fit:cover;background-position: bottom center;" webkit-playsinline="true" playsinline="true">
			
        <source src="https://wndr.nyc3.digitaloceanspaces.com/WNDR%20TRAILER.mp4" type="video/mp4"></video>
    </video>
    </div>
    </body>

    </html>