
{%extends 'base.html'%}
{% load static %}
{% block title %}Wndr.Land{% endblock %}
{%block content%}

	<!-- Button trigger modal --> 

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content sbscribe-bg">
		<div class="modal-header">
			<div class="modal-outer">
		  <h2>Subscribe to Our Newsletter</h2>
		  <img src="{% static 'image/nesltr-line.png' %}" class="subscribe-line-pc" alt="newsletter-line">
		  <img src="{% static 'image/subscribe-line-tabs.png' %}" class="subscribe-line-tabs" alt="newsletter-line1">
		  <p>Subscribe here to get the latest news on WNDR events, launch dates, SDK release, WNDR coin and NFT drops. </p>
  
			<form method="post" onsubmit="return false;">
			  <!--<span class="nesltr-btn">
				  <img src="{% static 'image/sucribe-input-img-center.png' %}" class="sucribe-center-pc" alt="subscribe-1">
				  <img src="{% static 'image/sucribe-input-img-tabs.png' %}" class="sucribe-center-tabs" alt="subscribe-2">
				  <img src="{% static 'image/sucribe-btn-center-img-mobile.png' %}" class="sucribe-center-pc-mobile" alt="subscribe-3">
				  <input type="email" name="myInput" required  id="myInput" value="" placeholder="Enter email">
				  <div class="clearfix"></div>
			  
			  </span>-->
			  <div class="sbscribe_btn_input">
				<span>
					<input type="text" name="myInput1"  id="myInput1" value="" placeholder="Enter email">
				</span>
				</div>
			
			 
			  <div class="alert alert-danger success-msg" id="sucess_div1" role="alert" hidden>
				<span id="sucess1" ></span>
			  </div>
			  <div class="alert alert-danger error-msg" id="error_div1" role="alert" hidden>
				<span id="error1" ></span>
			  </div>
				  <!-- <div class="alert alert-danger danger-msg" role="alert">
					This is a danger alert—check it out!
				  </div>
				  <div class="alert alert-danger sueccs-msg" role="alert">
					This is a danger alert—check it out!
				  </div> -->
			  <div class="sbscribe-section">
				<button class="sbt-btn" id="btn-d1" onclick="myFunction1()">Submit 	 <div id ="load-image-of-modal-subscibe1" class="spinner-border text-danger" role="status">
					<span class="sr-only">Loading...</span>
				  </div></button>
			  </div>
		 
		  </div>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
	  </div>
	</div>
  </div>
  <!--Modal ending here-->

    <!-- header close here -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="banner-logo-div animated uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 500; repeat: true">
					<img src="{% static 'image/banner-logo.png' %}" class="banner-logo-remv" alt="logo-banner-1">
				</div>
				<div class="banner-WNDR-outer">
					<div class="banner-WNDR-btn">
						<span class="WNDR-btn-item WNDR_btn_home animated uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 300; repeat: true">
						<input type="text" name="myInput2" value="" id="myInput2" placeholder="Enter email"></span><br>
						<div class="alert alert-danger sueccs-msg" id="sucess_div2" role="alert" hidden>
							<span id="sucess2" ></span>
						</div>
						<div class="alert alert-danger error-msg" id="error_div2" role="alert" hidden>
							<span id="error2" ></span>
						</div>
						<div class="sucess_mesg">
							<p class=""></p> <!--Remove Sucessfull inside the paragraph tag and class named "bnr_sucess_mesg" in p class--> 
						</div>
						{% comment %} <div   class="spinner-grow text-light" role="status">
							<span class="sr-only">Loading...</span>
						  </div> {% endcomment %}
						   
						{% comment %} <section  id ="load-image">
							<div class="loader" >
							  <div class="upper ball"></div>
							  <div class="right ball"></div>
							  <div class="lower ball"></div>
							  <div class="left ball"></div>
							</div>
						  </section>  {% endcomment %}
						  {% comment %} <div id ="load-image" class="spinner-grow text-danger" role="status">
							<span class="sr-only">Loading...</span>
						  </div> {% endcomment %}
						  {% comment %} <div>
							<div class="db-spinner"></div>
						  </div> {% endcomment %}

						 <button class="WNDR-btn-item1 mbl_sbscribe_btn uk-scrollspy-inview" id="btn-d2" uk-scrollspy="cls: uk-animation-slide-left; delay: 200; repeat: true" onclick="myFunction2()">
							subscribe <div id ="load-image" class="spinner-border text-danger" role="status"><span class="sr-only">Loading...</span>  </div> 
							

						</button>  
						{% comment %} <button class="shadow-button-3" id="btn-d2" uk-scrollspy="cls: uk-animation-slide-left; delay: 200; repeat: true" onclick="myFunction2()">Subscribe <div id ="load-image" class="spinner-border text-danger" role="status">
							<span class="sr-only">Loading...</span>
						  </div> </button> {% endcomment %}
						
						{% comment %} <button class="glow-on-hover" type="button">Subscribe</button> {% endcomment %}
	
						<div class="mbl-arrow">
							<a class="arrow-wrap" href="#content" style="opacity: 1;">
							<span class="arrow"></span>
							
							<!--<span class="hint">scroll</span>-->
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	</div>
	<!-- banner -->
	<button onclick="topFunction()" id="myBtntop" title="Go to top"><i class='fa fa-angle-up'></i></button>
	<!-- About-WNDR-start -->
	<div class="about-WNDR content" id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-WNDR-outer">
					<div class="about-content"> 
						<h1 class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">ABOUT <span>WNDR</span></h1>
							<div class="line-about uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
								<img src="{% static 'image/About-line2.png' %}" alt="line-about-1">
							</div>
						<div class="shadow-outer-div">
								<p class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">THE WNDR STREAM ENGINE POWERS BROWSER-BASED PREMIUM MULTIPLAYER
								META-GAMES, VIRTUAL EVENTS AND IMMERSIVE OPEN WORLDS DISTRIBUTED ON
								ANY CONNECTED DEVICE WITH THE “CLICK-TO-SHARE” EASE OF A YOUTUBE
								VIDEO. WNDR IS THE NEXT EVOLUTION OF SCALABLE, BLOCKCHAIN-POWERED,
								SOCIAL-FOCUSED GAMING IN THE METAVERSE. NOT JUST FOR THE THE CASUAL
								GAMER, BUT FOR ANYONE AND EVERYONE WITH AN INTERNET CONNECTION AND
								A DEVICE (OF ANY KIND)</p>
								<img src="{% static 'image/about-shadow.png' %}" class="box-shadow-about" alt="shadow-about-1">
					    </div>
						<div class="about-wndr-link">
							<a href="{% url 'about' %}" class="about-WNDR_btn">
								Read More
							</a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About-WNDR-end -->


	<!-- Image gallery-start -->
	<div class="slect-outer">
		<div class="inner-img">
		<!--<img src="image/gallary-line-mobile1.png" class="gallary-line-mobile1">-->
		<!--<img src="image/gallary-line-mobile3.png" class="gallary-line-mobile3">-->
		<div class="slect-pvc-live bt-line-frst uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-right; delay: 400; repeat: true">
			<h2>SELECT</h2>
			<p>HYPER REAL AVATARS</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary">
			<img src="{% static 'image/gallary-line-mobile.png' %}" class="gallary-line-mobile">
		</div>
		<div class="slect-pvc-live pvc-btm-line uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600; repeat: true">
			<h2>LIVE</h2>
			<p>NFT DROPS</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary1">
		</div>
		<div class="slect-pvc-live lve-nft-credit uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 400; repeat: true">
			<h2>PVP</h2>
			<p> Voice &amp; Video Chat</p>
			<img src="{% static 'image/About-line.png' %}" class="gallary-line" alt="line-gallary2">
			<!--<img src="image/gallary-line-mobile2.png" class="gallary-line-mobile2">-->
		</div>
		<div class="slect-pvc-live crypto-wndr-coin uk-scrollspy-inview"  uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
			<h2>CRYPTO</h2>
			<p>WNDR COIN</p>
		</div>
	</div>
</div>
	<div class="clearfix"></div>
	<section class="glry-imgs">
		<div class="gallery-slider-outer">
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-1.jpg' %}" alt="slider1">
			</div> 
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-2.jpg' %}" alt="slider2">
			</div>
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-3.jpg' %}" alt="slider3">
			</div>
			<div class="gallery-slider-item">
				<img src="{% static 'image/SLIDER-PIC-4.jpg' %}" alt="slider4">
			</div> 
		</div>
		<div class="slct-pvc-crypto">
			<div class="slect-ne uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-right; delay: 200; repeat: true">
				<img src="{% static 'image/gallary-pic-pc.jpg' %}" alt="img1" class="gallary-img-readius">
			</div>
			<div class="slect-tw uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
				<img src="{% static 'image/gallary-pic2222-pc.jpg' %}" alt="img1" class="gallary-img-readius1">
			</div>
			<div class="slect-thr uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 200; repeat: true">
				<img src="{% static 'image/gallary-pic2-pc.jpg' %}" alt="img1" class="gallary-img-readius2">
			</div>
		</div>
		<div class="slct-pvc-bottom">
			<div class="wndr-glry-on uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 100; repeat: true">
				<img src="{% static 'image/gallary-pic3-pc.jpg' %}" alt="img1" class="gallary-img-readius3">
			</div>
			<div class="wndr-glry-tw uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
				<img src="{% static 'image/gallary-pic4-pc.jpg' %}" alt="img1" class="gallary-img-readius4">
			</div>
			<div class="wndr-glry-thr uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-right; delay: 600; repeat: true">
				<img src="{% static 'image/gallary-pic5-pc.jpg' %}" alt="img1" class="gallary-img-readius5">
			</div>
			<div class="wndr-glry-fr uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-left; delay: 500; repeat: true">
				<img src="{% static 'image/gallery-pic-last.jpg' %}" alt="img1" class="gallary-img-readius-last">
			</div>
		</div>
	</section> 
	<!-- Image gallery-end -->


	<!-- WNDRLAND-WNDR-start -->
	<div class="WNDRLAND-WNDR"> 
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-WNDR-outer">
					<div class="about-content"> 
						<h1 class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">WNDR.VERSE   <span>GAMES</span></h1>
							<div class="line-about wndr-line uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
								<img src="{% static 'image/About-line2.png' %}" alt="line-about-2">
							</div>
						<p class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">THE COMPANY’S FIRST OFFICIAL GAME TITLE, “THE COLOSSEUM,” IS SET IN THE
						FUTURISTIC WORLD OF WNDR.LAND, AND IS PART OF THE WNDR.VERSE, A
						MASSIVE ROLLOUT OF ULTRA-REALISTIC VIRAL META-GAMES. MEET THE WNDRS
						IN THIS ACTION-PACKED PLAYER VS PLAYER METAGAME. SELECT YOUR AVATAR TO
						COLLECT AND WIN. GET YOUR SUPERHERO ON AND POWER UP WITH SPONSORS
						AT THE MAIN STAGES </p>
							<div class="about-wndr-link">
							<a href="{% url 'about' %}" class="about-WNDR_btn">
								 READ MORE
							</a>
						</div> 
					</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<!-- WNDRLAND-WNDR-end -->
		<div class="no-dwonload_section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>NO DOWNLOADS</h2>
				<p>SHARE A SIMPLE WEB LINK AND CLICK</p>
				<img src="{% static 'image/download_hr.png' %}" alt="bottom_line">
			</div>
		</div>
	</div>
</div>
	<!-- game-play start -->
	<!-- game-play start -->
	<div class="wndr_land_colosiusm">
		
	<div class="video-home-content">
		<i class="fa fa-volume-up" id="audio-home-control" aria-hidden="true"></i>
		<div class="circle" style="animation-delay: 0s"></div>
		<div class="circle" style="animation-delay: 1s"></div>
		<div class="circle" style="animation-delay: 2s"></div>
		<div class="circle" style="animation-delay: 3s"></div>
	</div>
	{% comment %} poster="{% static 'image/game-player.jpg' %}" {% endcomment %}
	<div class="gamePlayer" id="appnd_div">			
				<video id="myVideo" style="object-fit:cover;background-position: bottom center;" class="video video_desktop_home fullscr" width="100%" height="100%" preload='auto'  poster="" controlslist="nodownload noplaybackrate">
				<source src="{% if video_obj %}{{video_obj.desktop_bottom_video}}{%else%}https://wndr.nyc3.digitaloceanspaces.com/WNDR%20TRAILER.mp4{%endif%}" type="video/mp4" ></video>
			 <video id="myVideo2" class="video_mbl_home fullscr-mobile " width="100%" height="100%" preload='auto' poster="{% static 'image/game-player_mbl.png' %}" controlslist="nodownload noplaybackrate" style="object-fit:cover;background-position: bottom center;" webkit-playsinline="true" playsinline="true">
				{% comment %} {%else%}https://wndr.nyc3.digitaloceanspaces.com/WNDR%20TRAILER.mp4{%endif%}"  {% endcomment %}
				 <source src="{% if video_obj %}{{video_obj.mobile_bottom_video}}{%else%}https://wndr.nyc3.digitaloceanspaces.com/WNDR%20TRAILER.mp4{%endif%}"
				 type="video/mp4">
				</video>
				<i class="fa-solid fa-expand " id="fullscreenhide_in_mobile" onclick="openFulldesktop();"></i>				
			

				
{% comment %} 		
				<i class="bi bi-fullscreen" style="font-size:48px;color:red">befhbejbfb</i> {% endcomment %}
				
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				
				<div class="gamePlayer-outer remove_saveimage">
					<!-- <div class="valume_buttn">
						<div class="sound_on">
							<i class="fa fa-volume-off" aria-hidden="true"></i>
						</div>
						<div class="sound_off">
							<i class="fa fa-volume-up" aria-hidden="true"></i>
						</div>	
					</div> -->

					
					 
					<div class="gamePlayer-logo-item">
						<img src="{% static 'image/gamePlayer-logo.png' %}" class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true" alt="gamePlayer-logo-1">
						<div class="gamePlayer-contect">
							<p class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 800; repeat: true">THE COLOSSEUM</p>
						</div>
					</div>
					<div class="play-btn-outer">
						<div class="play-btn-item uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 700; repeat: true">
							<div class="playpause">
								<div class="frst_img">
								<img src="{% static 'image/play button.png' %}" id="play_button">
								</div>
								 <div class="bnnr_img desktop_cover_bnr">
									<div class="wndr_colosium_overlay"></div>
									{% comment %} src="{% static 'image/game-player.jpg' %}" {% endcomment %}
									 <img src="static/image/game-player.jpeg" id="play_button" class="desk_poster"/> 
								</div> 
								<div class="bnnr_img mbl_cover_bnr">
									<div class="wndr_colosium_overlay"></div>
									 <img src="{% static 'image/game-player_mbl.png' %}"  id="play_button"  style="object-fit:cover;"> 
								</div>
								<!--<div class="ply_img">
								<img src="{% static 'image/button.png' %}" alt="gamePlayer-icon-1" id="pause_button" style="display:none">
								</div>-->
								
							</div>
						</div>
						<div class="game-contact uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
							 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


	<!-- game-play end -->
	<div class="no-dwonload_section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>DEVICE AGNOSTIC</h2>
					<p>MOBILE . PC . TABLET . SMART TV</p>
					<img src="{% static 'image/download_hr.png' %}" alt="bottom_line">
				</div>
			</div>
		</div>
	</div>
	<!-- WNDR COINS Start -->
	<section class="wndr-coins">
		<div class="coin-lines">
			<div class="container">
				<div class="row">
					<div class="col-md-12 coin-img">
						<img src="{% static 'image/coin-img.png' %}" alt="coins" class="widr-cions-pc uk-scrollspy-inview"uk-scrollspy="cls: uk-animation-slide-top; delay: 200; repeat: true">
						<img src="{% static 'image/wind-coin-main-pic-mobile.png' %}" alt="coins1" class="widr-cions-mobile">
						<div class="wndr-coin-contnt">
							<h2 class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 200; repeat: true">WNDR COIN</h2>
							<p class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">Earn Real money inside The Virtual world through play and build with WNDR Coins. Blockchain based Cryptocurrency will power WNDR.LAND’s Economy and allow user to Buy and sell NFT’s</p>
							<a href="#" class="about-WNDR_btn uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
							 GET TOKEN
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
		<!-- WNDR COINS End -->


    <!-- Subscribe newsletter Start -->
	<section class="newsletter-bg" id="newsletter-outer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="sbscribe-bg">
						<h2 class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 500; repeat: true">Subscribe to Our Newsletter</h2>
						<img src="{% static 'image/nesltr-line.png' %}" class="subscribe-line-pc uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 700; repeat: true" alt="newsletter-line">
						<img src="{% static 'image/subscribe-line-tabs.png' %}" class="subscribe-line-tabs" alt="newsletter-line1">
						<p class="uk-scrollspy-inview" uk-scrollspy="cls: uk-animation-slide-top; delay: 900; repeat: true">Subscribe here to get the latest news on WNDR events, launch dates, SDK release, WNDR coin and NFT drops. </p>
							<!--<span class="nesltr-btn">
								<img src="{% static 'image/sucribe-input-img-center.png' %}" class="sucribe-center-pc" alt="subscribe-1">
								<img src="{% static 'image/sucribe-input-img-tabs.png' %}" class="sucribe-center-tabs" alt="subscribe-2">
								<img src="{% static 'image/sucribe-btn-center-img-mobile.png' %}" class="sucribe-center-pc-mobile" alt="subscribe-3">
								
								<input type="email" name="myInp" id="myInputs" value="" placeholder="Enter email">
								<div class="clearfix"></div>
							</span>-->
							<div class="sbscribe_btn_input">
								<span>
									<input type="text" name="myInput3" id="myInput3" value="" placeholder="Enter email">
								</span>

								<div class="alert alert-danger sueccs-msg" id="sucess_div3" role="alert" hidden>
									<span id="sucess3"></span>
								  </div>
								  <div class="alert alert-danger error-msg" id="error_div3" role="alert" hidden>
									<span id="error3"></span>
								  </div>

							</div>
								<!-- <div class="alert alert-danger danger-msg" role="alert">
								  This is a danger alert—check it out!
								</div>-->
							   
							<div class="sbscribe-section" id="submit_5">
								<button class="sbt-btn" id="btn-d3" onclick="myFunction3()">Submit
									<div id ="load-image-of-arrival2" class="spinner-border text-danger" role="status">
										<span class="sr-only">Loading...</span>
									  </div> 
								</button>
							</div>
						
					</div>
				</div>
			</div>
		</div> 
	</section>
	<!-- Subscribe newsletter End -->

{% endblock %}
