
<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>index</title>
	<!-- bootstrap-css start -->
	{% comment %} <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> {% endcomment %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!-- link css -->
	<link rel="stylesheet" type="text/css" href="{% static 'landing_page/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landing_page/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'landing_page/css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


	<!-- font awsome -->
	<script src="https://use.fontawesome.com/b197abb434.js"></script>
   <script src="https://kit.fontawesome.com/1086841b1d.js" crossorigin="anonymous"></script>

	<!-- fav icon -->
	<link rel="icon" type="image/x-icon" href="{% static 'landing_page/images/fab-ic.png' %}">
</head>

<body> 

	<!-- banner -->
    <div class="banner-WNDR">
        <video class="banner_desktop_video" id="video2" width="100%" height="100%" preload="none" poster="{% static "image/WOW_PC-min.png" %}" autoplay="" muted="" loop="" playsinline="" onclick="return false">
			<source id="vid2_source" src="https://wndr.nyc3.digitaloceanspaces.com/PC_version_10mbps.mp4 " type="video/mp4">
		</video>
		<video class="banner_mobile_video fa-volume-up fa" id="video21" width="100%" height="100%" preload="none" poster="{% static "image/WOW_Mobile-min.png" %}" autoplay="" muted="" loop="" playsinline="" onclick="return false" aria-hidden="true" style="">
			<source id="vid21_source" src="" type="video/mp4">
		</video>
        <!-- header -->
        <div class="header_WNDR">
            <div class="header-line header-line-shadow1">
                <img src="{% static 'landing_page/images/header-line-top.png' %}" class="header-line-pc" alt="header-linee">
				<img src="{% static 'landing_page/images/header-line-top-tabs.png' %}" class="header-line-tabs" alt="header-linee1">
				<img src="{% static 'landing_page/images/header-line-top-mobile.png' %}" class="header-line-mobile" alt="header-linee2">
            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light main-naviagtionbar">
                    <a class="navbar-brand" href="javascript:void(0)"><img src="{% static 'landing_page/images/header-logo.png' %}" alt="logo1"></a>

                    <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                    </div>
                </nav>
            </div>
            <div class="header-line header-line-shadow">
                <img src="{% static 'landing_page/images/header-line-down.png' %}" class="header-line-down-pc" alt="header-line-center">
				<img src="{% static 'landing_page/images/header-line-down-tabs.png' %}" class="header-line-down-tabs" alt="header-line-center1">
				<img src="{% static 'landing_page/images/header-line-down-mobile.png' %}" class="header-line-down-mobile" alt="header-line-center2">
            </div>
        </div>
        <!-- header -->
        <div class="container">
            <div class="row wndrLand_Rowbanner">
                <div class="col-md-12">
                    <div class="banner-WNDR-outer">
                        <div class="banner-WNDR-btn"> 
                            
                        </div>
                        <div class="mbl-arrow">
                            <a class="arrow-wrap" href="#content" style="opacity: 1;">
                                <span class="arrow"></span>
                                <!--<span class="hint">scroll</span>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="laddingPage_outer">
				<div class="lannding_pageEmail_Banner">
					<span>
						<input type="text" name="myInput1" id="myInput1" value="" placeholder="ENTER EMAIL">
					</span>
				</div>
				<div class="signUp_outer1">
					<div class="outerShadow_11">
						<div class="signU_outerShadow1 packages visible-lg visible-md waves-effect waves-light"></div>
					</div> 
					{% comment %} <button href="#" class="signUp_item1">PLAY NOW</button> {% endcomment %}
					<button type="button" class=" signUp_item1 btn btn-primary" data-toggle="modal" data-target="#landingModal">
						PLAY NOW
					</button>
					
					
				</div>
			
				<div class="text_signUp">
					<h2>SIGN UP & PLAY</h2>
				</div>
				</div>
        </div>
	
    </div>
    <!-- banner -->
	
	
	
	 <div class="modal fade" id="landingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" style='background:#111;border-radius:30px;'>
			<div class="sbscribe-bg">
				<h2>Get instant early access to play online by clicking the
					“SIGN UP AND PLAY” button</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
					
				<img src="{% static "landing_page/images/nesltr-line.png" class="subscribe-line-pc" %} " class="modalLine_first" alt="newsletter-line">
				<img src="{% static "landing_page/images/subscribe-line-tabs.png" class="subscribe-line-tabs" %}" class="modalLine_last" alt="newsletter-line1">
				<p>See you in the Metaverse! </p>
				
					<div class="lannding_pageEmail">
					
					</div>
						
					<span class="nesltr_Signup">
						<button  data-toggle="modal" data-dismiss="modal" data-target="#landingModal2">SIGN UP &amp; PLAY</button>
					</span>
					<div class="snesltr_playNow">
						<button class="playNow">PLAY NOW</button>
					</div>
				
			</div>
		</div>
		</div>
	   </div> 


	   <div class="modal fade" id="landingModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" style='background:#111;border-radius:30px;'>
			<div class="sbscribe-bg">
				<h2>THE COLOSSIUM IS
					FULL TRY AGAIN
					
					LATER</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
					
				<img src="{% static "landing_page/images/nesltr-line.png" class="subscribe-line-pc" %} " class="modalLine_first" alt="newsletter-line">
				<img src="{% static "landing_page/images/subscribe-line-tabs.png" class="subscribe-line-tabs" %}" class="modalLine_last" alt="newsletter-line1">
				<p>See you in the Metaverse! </p>
				
			</div>
		</div>
		</div>
	   </div>  


	   <div class="modal fade" id="landingModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" style='background:#111;border-radius:30px;'>
			<div class="sbscribe-bg mdl_sbscribe_btn">
				<h2>Get instant early access to play online by clicking the
					“SIGN UP AND PLAY” button</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
					
				<img src="{% static "landing_page/images/nesltr-line.png" class="subscribe-line-pc" %} " class="modalLine_first" alt="newsletter-line">
				<img src="{% static "landing_page/images/subscribe-line-tabs.png" class="subscribe-line-tabs" %}" class="modalLine_last" alt="newsletter-line1">
				<p>See you in the Metaverse! </p>
				
					<div class="lannding_pageEmail">
					
					</div>
					<div class="lannding_pageEmail_Banner popup_mdl_input_bx">
						<span>
							<input type="text" name="myInput1" id="myInput1" value="" placeholder="ENTER EMAIL">
						</span>
					</div>
					{% comment %} <span class="nesltr_Signup">
						<input type="text" name="myInput1" id="myInput1" value="" placeholder="ENTER EMAIL">
					</span>	 {% endcomment %}
					
					<div class="snesltr_playNow">
						<button class="playNow">PLAY NOW</button>
					</div>
					<div class="text_signUp sbscribe_text_mdl">
						<h2>SUBSCRIBE &amp; PLAY</h2>
					</div>
			</div>
		</div>
		</div>
	   </div> 



	<!-- About-modal-2nd end -->
	
	   <!-- About-WNDR-start -->
	<div class="about-WNDR content" id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="about-WNDR-outer">
						<div class="about-content">
							<h2>THE WNDRS SAVE <span>THE METAVERSE</span></h2>
							<div class="line-about">
								<img src="{% static 'landing_page/images/About-line2.png' %}" alt="line-about-1">
							</div>
							<div class="shadow-outer-div">
								<p>This is the coolest multiplayer Metaverse online game you’ll ever play. Become a WNDR play
									as a
									WNDR in their breakout video game titled The Colosseum. Your goal is to train as a
									WNDR
									in order to save the Metaverse. Imagine playing your favorite endless runner
									combined with
									Pac-Man on steroids. You’ll jump, flip, and dive through portals to evade the enemy
									cyborgs. Make sure you grab your collectibles and power Up and blast the cyborgs
									away.
									Play in a far away dimension and enjoy 3 rounds of gameplay in the Colosseum.
								</p>
								<img src="{% static 'landing_page/images/about-shadow.png' %}" class="box-shadow-about" alt="shadow-about-1">
							</div>
							<div class="about-wndr-link">
								<a href="#" class="Sign_up_play_txt">SIGN UP & PLAY</a>
								<div class="lannding_pageEmail_Banner">
									<span>
										<input type="text" name="myInput1" id="myInput1" value="" placeholder="ENTER EMAIL">
									</span>
								</div>
								{% comment %} <button type="button" class="WNDR-btn-item WNDR-btnPlay btn subscribe_ply_btn" data-toggle="modal" data-target="#landingModal3">
									SUBSCRIBE & PLAY
								</button> {% endcomment %}
								{% comment %} <a href="#" class="WNDR-btnPlay">SUBSCRIBE & PLAY</a> {% endcomment %}
								{% comment %} <a href="#" class="WNDR-btn-item1">PLAY NOW</a> {% endcomment %}
								<button type="button" class="WNDR-btn-item signUp_item1 btn metaverse_btn_playnow" data-toggle="modal" data-target="#landingModal2">
									PLAY NOW
								</button>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About-WNDR-end -->

	<!-- download start here  -->
	<div class="downloadDevice">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="downloadDevice_outer">
						<h2>No Downloads <br><span>Play on any device</span></h2>


						<div class="interentSpeed">
							<div class="interentSpeed_leftside">
								<i class="fa fa-wifi" aria-hidden="true"></i>
							</div>
							<div class="interentSpeed_rightside">
								<p class="mobile_interentSpeed">MOB 50 MPBS</p>
								<p class="pc_interentSpeed">PC 100 MPBS</p>
							</div>
						</div>
						<div class="downloadImg_middle">
							<img src="{% static "landing_page/images/downloadDevice.png" %}" alt="playDevice">
						</div>
						<p class="Download_paragraph">You’ll really enjoy our free to play no downloads Online AAA game.
							You can
							play on any device without the need of a clunky console. Play with your mouse or keyboard, Xbox, PlayStation 5 controllers, or use your MobilePhone as a gamepad.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- download close here  -->


	<!-- Subscribe newsletter Start -->
	<section class="newsletter-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="sbscribe-bg">
						<h2>Get Instant Early Access To Play Online By Clicking The
							“SIGN UP AND PLAY” Button</h2>
						<img src="{% static 'landing_page/images/nesltr-line.png' %}" class="subscribe-line-pc" alt="newsletter-line">
						<img src="{% static 'landing_page/images/subscribe-line-tabs.png' %}" class="subscribe-line-tabs" alt="newsletter-line1">
						<p>See You In The Metaverse! </p>
						<form>
							<span class="text-danger" id="email_err"></span>
							<div class="lannding_pageEmail_Banner newslter_input_box_ftr">
								<span>
									<input type="text" name="myInput1" class="email_chk" id="myInput1" value="" placeholder="ENTER EMAIL" autocomplete="off">
								</span>
								
							</div>
							{% comment %} <span class="nesltr_Signup btm_subscribe_ply">
								<button>SUBSCRIBE & PLAY</button>
							</span> {% endcomment %}
							<div class="snesltr_playNow">
							  {% comment %} <button class="playNow">PLAY NOW</button>  {% endcomment %}
								{% comment %} <button type="button" class=" signUp_item1 btn btn-primary" data-toggle="modal" data-target="#landingModal">
									PLAY NOW {% endcomment %}
								{% comment %} </button> {% endcomment %}
								<button type="button" class="bottom_newsltr_btn signUp_item1 btn" data-toggle="modal" data-target="landingModal3">
									PLAY NOW
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscribe newsletter End -->


	<!-- footer start -->
	<div class="footer_WNDR">
		<div class="footer-overlap">
			<img src="{% static "landing_page/images/footer-line-top.png" %} " class="top-line" alt="footer1">
			<img src="{% static "landing_page/images/footer-line-top-mobile.png" %} " class="top-line-m0bile" alt="footer2">
			<img src="{% static "landing_page/images/footer-line-down.png" %} " class="bottom-line" alt="footer3">
			<img src="{% static "landing_page/images/footer-line-down-mobile.png" %} " class="bottom-line-mobile" alt="footer4">
		</div>
		<div class="footer-shapes">
			<img src="{% static "landing_page/images/footer-img.png" %} " class="footer-left-ic" alt="footer5">
			<img src="{% static "landing_page/images/footer-img2.png" %} " class="footer-right-ic" alt="footer6">
		</div>
		<div class="container">
			<div class="footer-outer">
				<div class="row footer-align">
					<div class="col-md-3 col-lg-4 mbl-footer-img">
						<div class="footer-logo">
							<img src="{% static "landing_page/images/header-logo.png" %} " alt="footer7">
						</div>
					</div>
					<div class="col-md-5 col-lg-5 copyright-footer">
						<div class="middle-sec-footer">
							<p>WNDR, ALL RIGHTS RESERVED @ 2022</p>

						</div>
					</div>
					<div class="col-md-4 col-lg-3 mbl-footer-social">
						<div class="right-sec-footer-social">
							<ul>

								<li class="uk-scrollspy-inview"
									uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
									<a href="https://twitter.com/WNDRVERSE"><i class="fa fa-twitter"
											aria-hidden="true"></i></a>
								</li>

								<li class="uk-scrollspy-inview"
									uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
									<a href="https://www.youtube.com/channel/UCyccm9qtkFnj0-yGnE5fI5A">
										<i class="fa fa-youtube" aria-hidden="true"></i>
									</a>
								</li>
								<li class="uk-scrollspy-inview"
									uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
									<a href="https://www.tiktok.com/@wndrverse?_t=8WJxBZA7IJ4&amp;_r=1">
										<i class="fa-brands fa-tiktok"></i>
									</a>
								</li>


							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer end -->


	<!-- jquery -->
	<script src="js/jquery.js"></script>
	<!-- jquery -->

	<!-- slick js -->
	<script src="js/slick.js"></script>
	<script src="js/slick.min.js"></script>


	<script>
		$('.gallery-slider-outer').slick({
			dots: true,
			infinite: false,
			speed: 300,
			slidesToShow: 1,
			slidesToScroll: 1,
			responsive: [
				{
					breakpoint: 1023,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1,
						infinite: true,
						dots: true
					}
				},
				{
					breakpoint: 600,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				},
				{
					breakpoint: 480,
					settings: {
						slidesToShow: 1,
						slidesToScroll: 1
					}
				}
				// You can unslick at a given breakpoint now by adding:
				// settings: "unslick"
				// instead of a settings object
			]
		});
	</script>

	<!-- bootstrap js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript">
		//this is where we apply opacity to the arrow
		$(window).scroll(function () {

			//get scroll position
			var topWindow = $(window).scrollTop();
			//multipl by 1.5 so the arrow will become transparent half-way up the page
			var topWindow = topWindow * 1.5;

			//get height of window
			var windowHeight = $(window).height();

			//set position as percentage of how far the user has scrolled 
			var position = topWindow / windowHeight;
			//invert the percentage
			position = 1 - position;

			//define arrow opacity as based on how far up the page the user has scrolled
			//no scrolling = 1, half-way up the page = 0
			$('.arrow-wrap').css('', position);

		});

		//Code stolen from css-tricks for smooth scrolling:
		$(function () {
			$('a[href*=#]:not([href=#])').click(function () {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});
	</script>


	<script>
		var testEmail = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
		$('.bottom_newsltr_btn').click(function(){
			email = $('.email_chk').val();
			console.log(email)

			if(email == ''){
				console.log('if');
				$("#email_err").show('blind', {}, 500)
				$('#email_err').html('Please Enter Email');
				setTimeout(function() {
					$("#email_err").hide('blind', {}, 500)
				}, 5000);
			   $("#email_err").addClass("innerErrorMesg");
			
			   
			}
			else if(testEmail.test(email)) {
				console.log('err');
				$("#email_err").html('');
				$("#landingModal2").modal("show");
			}
			else if(!testEmail.test(email)){
				$("#email_err").show('blind', {}, 500)
				$('#email_err').html('Please Enter Correct Email');
				setTimeout(function() {
					$("#email_err").hide('blind', {}, 500)
				}, 5000);
			}
			else {
				console.log('else');
			}
		 });

	</script>

</body>

</html>