<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Online Games - WNDR.com</title>
	<meta name="description" content="WNDR offers browser-based multiplayer meta-games, virtual events, and much more on any device that is connected through a simple website link.">
	<!-- slick css -->
 <link rel="stylesheet" href="{% static 'css/slick.css' %}">
 <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
	<!-- bootstrap-css start -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- link css -->
	  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
	   <!-- font awsome -->
    <script src="https://use.fontawesome.com/b197abb434.js"></script>
	<script src="https://kit.fontawesome.com/1086841b1d.js" crossorigin="anonymous"></script>
    <!-- fav icon --> 
	  <link rel="icon" type="image/x-icon" href="{% static 'image/fab-ic.png' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); 

    gtag('config', 'AW-10997461539');
    </script>

   <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	' https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f) ;
	})(window,document,'script','dataLayer','GTM-PR4XX4G');</script>
	<!-- End Google Tag Manager -->
	
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=" https://www.googletagmanager.com/ns.html?id=GTM-PR4XX4G "
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="mobilelandscapeview" style="position:relative;">
		<div class="landscape_view1">
		Back to Viewing Mode
		<img class="back_to_mode" src="{% static 'image/phone_rotate_black.png' %}">
	</div>
	</div>
<div class="mobileportraitview">
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content sbscribe-bg">
		<div class="modal-header">
			<div class="modal-outer">
		  <h4>Subscribe to Our Newsletter</h4>
		  <img src="{% static 'image/nesltr-line.png' %}" class="subscribe-line-pc" alt="newsletter-line">
		  <img src="{% static 'image/subscribe-line-tabs.png' %}" class="subscribe-line-tabs" alt="newsletter-line1">
		  <p>Subscribe here to get the latest news on WNDR events, launch dates, SDK release, WNDR coin and NFT drops. </p>
  
			<form method="post" onsubmit="return false;">
			  <div class="sbscribe_btn_input">
				<span>
					<input type="text" name="myInput1"  id="myInput1" value="" placeholder="Enter email">
				</span>
				</div>
			  <div class="alert alert-danger success-msg" id="sucess_div1" role="alert" hidden>
				<span id="sucess1" ></span>
			  </div>
			  <div class="alert alert-danger invalid-sueccs-msg" id="invalid_div1" role="alert" hidden>
				<span id="invalid1" ></span>
			</div>
			  <div class="alert alert-danger error-msg" id="error_div1" role="alert" hidden>
				<span id="error1" ></span>
			  </div>
			  <div class="sbscribe-section">
				<button class="sbt-btn" id="btn-d1" onclick="myFunction1()">Submit 	 <div id ="load-image-of-modal-subscibe1" class="spinner-border text-danger" role="status">
					<span class="sr-only">Loading...</span>
				  </div></button>
			  </div>
		  </div>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
	  </div>
	</div>
  </div>
  <!--Modal ending here-->
<div class="roadmap-section-bg">
	<!-- header start here -->
		<header class="header-tag-WNDR">
	    <div class="header_WNDR">
			    <div class="header-line header-line-shadow1">
					<img src="{% static 'image/header-line-top.png' %}" class="header-line-pc" alt="header-line-top">
					<img src="{% static 'image/header-line-top-tabs.png' %}" class="header-line-tabs" alt="header-line-top-tabs">
					<img src="{% static 'image/header-line-top-mobile.png' %}" class="header-line-mobile" alt="header-line-top-mobile">
				  </div>
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light">
					  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'image/header-logo.png' %}" alt="WNDR.com"></a>
					  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
				      <svg xmlns="http://www.w3.org/2000/svg" class="bi" fill="currentColor" viewBox="0 0 16 16">
				  <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
				</svg>
				    </button>
					  <div class="navbar-collapse collapse" id="bdNavbar" style="">
				      <ul class="navbar-nav m-auto mt-lg-0">
					      <li class="nav-item">
					        <a class="nav-link" href="{% url 'home' %}">HOME</a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="{% url 'vision' %}">OUR VISION</a>
					      </li>
						  <li class="nav-item">
					        <a class="nav-link" href="{% url 'teams' %}">TEAM</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
					      </li>
                         
					      <div class="btn-header-subscribe">
							<a href="#" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">SUBSCRIBE</a>
						    </div>
					    </ul>
				    </div>
					</nav>
				</div>
				<div class="header-line header-line-shadow">
				    <img src="{% static 'image/header-line-down.png' %}" class="header-line-down-pc" alt="header-line-down">
				    <img src="{% static 'image/header-line-down-tabs.png' %}" class="header-line-down-tabs" alt="header-line-down-tabs">
				    <img src="{% static 'image/header-line-down-mobile.png' %}" class="header-line-down-mobile" alt="header-line-down-mobile"> 
			    </div>
		  </div>
		</header>
    <!-- header close here -->
<!----Start About Us---->
<div class="container">
		<div class="row abt-main-section">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about-heading  custom-rezize-text text-center">
				<h3 class="privacy_heading">Privacy & Policy</h3>

				<div class="terms_conditions_page ">		

			
					<p>This Privacy Policy ("Policy") explains how Wndr ("we," "us," or "our") collects, uses, discloses, and protects your personal information when you use our website [https://wndr.com/] (the "Website"). We are committed to protecting your privacy and ensuring the security of your personal information. By accessing or using the Website, you consent to the collection, use, and disclosure of your personal information as described in this Policy.
					</p>
						
						<h4>Information We Collect</h4>
						<p>a. Personal Information: When you use the Website, we may collect personal information that you voluntarily provide to us, such as your name, email address, and any other information you choose to provide.</p>
							<p>
		
								b. Usage Information: We may collect non-personal information about your use of the Website, including your IP address, browser type, device information, operating system, and usage data. This information is collected automatically through cookies, web beacons, and other tracking technologies.
							</p>

							<p>
								c. Cookies: We use cookies to enhance your experience on the Website. Cookies are small text files that are placed on your device by a web server when you visit a website. You have the option to disable cookies in your browser settings, but this may limit your access to certain features of the Website.
							</p>
							<h4>Use of Information</h4>
							<p>a. We may use the information we collect to:
								- Provide and improve our services
								- Communicate with you and respond to your inquiries
								- Customize and personalize your experience on the Website
								- Send you promotional materials and newsletters (you may opt-out at any time)
								- Analyze and monitor usage trends and preferences
								- Prevent fraudulent activity and ensure the security of the Website
							 </p>
								<p>
			
									b. We will not sell, rent, or lease your personal information to third parties unless we have your permission or are required by law to do so.
								</p>
								<h4>Disclosure of Information</h4>
								<p>a. Service Providers: We may share your personal information with third-party service providers who perform services on our behalf, such as hosting, data analysis, and customer support. These service providers are contractually obligated to protect your information and may only use it for the purposes specified by us.</p>
										<p>
				
											b. Legal Requirements: We may disclose your personal information if required to do so by law or in response to valid requests by public authorities (e.g., court orders or government regulations).

										</p>
										<p>
											c. Business Transfers: In the event of a merger, acquisition, or sale of all or a portion of our assets, your personal information may be transferred to the acquiring entity.
										</p>
										<h4>Data Security</h4>
										<p>We implement appropriate technical and organizational measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, no data transmission over the Internet or electronic storage system is 100% secure. Therefore, we cannot guarantee the absolute security of your information.
										</p>
											
										<h4>Third-Party Links</h4>
										<p>The Website may contain links to third-party websites or services that are not operated or controlled by us. This Policy does not apply to such third-party websites or services. We encourage you to review the privacy policies of those third parties before providing any personal information.
										</p>

										<h4> Children's Privacy</h4>
										<p>The Website is not intended for individuals under the age of 18. We do not knowingly collect personal information from children. If we become aware that we have inadvertently collected personal information from a child under 18, we will take steps to delete such information as soon as possible.
										</p>

										<h4> Changes to this Privacy Policy</h4>
										<p>We reserve the right to modify or update this Privacy Policy at any time. Any changes to this Policy will be effective upon posting the revised version on the Website. We encourage you to review this Policy periodically for any updates.</p>

										<h4> Contact Information</h4>
										<p>If you have any questions or concerns about this Privacy Policy mail us on info@wndr.com
										</p>
			</div>



			</div>
		</div>
	</div>
</div>
<footer>
	<div class="footer_WNDR remove_saveimage" id="custom-about-us-footer">
		<div class="footer-overlap">
			<img src="{% static 'image/footer-line-top.png' %}" class="top-line" alt="footer1">
			<img src="{% static 'image/footer-line-top-mobile.png' %}" class="top-line-m0bile"
				alt="footer2">
			<img src="{% static 'image/footer-line-down.png' %}" class="bottom-line" alt="footer3">
			<img src="{% static 'image/footer-line-down-mobile.png' %}" class="bottom-line-mobile"
				alt="footer4">
		</div>
		<div class="footer-shapes">
			<img src="{% static 'image/footer-img.png' %}" class="footer-left-ic" alt="footerLeft_img">
			<img src="{% static 'image/footer-img2.png' %}" class="footer-right-ic" alt="footerRight_img">
		</div>
		<div class="container">
			<div class="footer-outer">
				<div class="row footer-align">
					<div class="col-md-3 col-lg-3 mbl-footer-img">
						<div class="footer-logo">
							<img src="{% static 'image/header-logo.png' %}" alt="WNDR.com">
						</div>
					</div>
					<div class="col-md-7 col-lg-7 copyright-footer">
						<div class="middle-sec-footer uk-scrollspy-inview"
							uk-scrollspy="cls: uk-animation-slide-top; delay: 400; repeat: true">
							<div class="footerManu_middle">
                <ul class="middle_unorderList">

									<li><a href="/">Home</a></li>
									<li><a href="/about">About </a></li>
									<li><a href="/vision">Our Vision</a></li>
									<li><a href="/teams">Team</a></li>
									<li><a href="/contact">Contact</a></li>
									<li><a href="/terms">Terms & Conditions </a></li>
									<li><a href="/privacy">Privacy & Policy</a></li>
									
								 </ul>
								 </div>
								 
							 <div class="footerManu_paragraph">
							<p>WNDR, ALL RIGHTS RESERVED @ 2022</p>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-lg-2 mbl-footer-social">
						<div class="right-sec-footer-social">
							<ul>
							   
								<li class="uk-scrollspy-inview"
									uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
									<a href="https://twitter.com/WNDRVERSE"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
							 
								<li class="uk-scrollspy-inview"
								uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
								<a href="https://www.youtube.com/channel/UCyccm9qtkFnj0-yGnE5fI5A"><i class="fa fa-youtube" aria-hidden="true"></i></a>
							</li>
							<li class="uk-scrollspy-inview"
								uk-scrollspy="cls: uk-animation-slide-top; delay: 600; repeat: true">
								<a href="https://www.tiktok.com/@wndrverse?_t=8WJxBZA7IJ4&_r=1"><i class="fa fa-tiktok" aria-hidden="true"></i></a>
							</li>
						
						
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
<!-- footer start here -->


<!-- footer close here-->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-angle-up"></i></button>
    <!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- bootstrap js --> 

</html>